################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JieHuiPortfolio/.vs/JieHuiPortfolio/config/applicationhost.config
/JieHuiPortfolio/.vs/JieHuiPortfolio/config/debuggerConfiguration-fddeab3e-af24-4aad-9423-d88c76e83874.json
/JieHuiPortfolio/bin/Debug/netcoreapp3.1
/JieHuiPortfolio/obj/Debug/netcoreapp3.1/staticwebassets
/JieHuiPortfolio/obj/Debug/netcoreapp3.1/JieHuiPortfolio.Views.pdb
/JieHuiPortfolio/obj/Debug/netcoreapp3.1/JieHuiPortfolio.Views.dll
/JieHuiPortfolio/obj/Debug/netcoreapp3.1/JieHuiPortfolio.TagHelpers.output.cache
/JieHuiPortfolio/obj/Debug/netcoreapp3.1/JieHuiPortfolio.TagHelpers.input.cache
/JieHuiPortfolio/obj/Debug/netcoreapp3.1/JieHuiPortfolio.RazorTargetAssemblyInfo.cs
/JieHuiPortfolio/obj/Debug/netcoreapp3.1/JieHuiPortfolio.RazorTargetAssemblyInfo.cache
/JieHuiPortfolio/obj/Debug/netcoreapp3.1/JieHuiPortfolio.RazorCoreGenerate.cache
/JieHuiPortfolio/obj/Debug/netcoreapp3.1/JieHuiPortfolio.pdb
/JieHuiPortfolio/obj/Debug/netcoreapp3.1/JieHuiPortfolio.MvcApplicationPartsAssemblyInfo.cs
/JieHuiPortfolio/obj/Debug/netcoreapp3.1/JieHuiPortfolio.MvcApplicationPartsAssemblyInfo.cache
/JieHuiPortfolio/obj/Debug/netcoreapp3.1/JieHuiPortfolio.genruntimeconfig.cache
/JieHuiPortfolio/obj/Debug/netcoreapp3.1/JieHuiPortfolio.dll
/JieHuiPortfolio/obj/Debug/netcoreapp3.1/JieHuiPortfolio.csproj.FileListAbsolute.txt
/JieHuiPortfolio/obj/Debug/netcoreapp3.1/JieHuiPortfolio.csproj.CoreCompileInputs.cache
/JieHuiPortfolio/obj/Debug/netcoreapp3.1/JieHuiPortfolio.csproj.CopyComplete
/JieHuiPortfolio/obj/Debug/netcoreapp3.1/apphost.exe
/JieHuiPortfolio/obj/Debug/netcoreapp3.1/Razor/Views
