################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JieHuiPortfolio/.vs/JieHuiPortfolio/config/applicationhost.config
