################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/jiehuing.github.io/config/applicationhost.config
/.vs/slnx.sqlite
